<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emmaveillat.finalproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhotoLoading" />
        <activity android:name=".GeneralMenu" />
        <activity android:name=".GrayMenu" />
        <activity android:name=".ChoiceMenu" />
        <activity android:name=".ColorMenu" />
        <activity android:name=".FilterMenu" />
        <activity android:name=".ExtensionDynamic" />
        <activity android:name=".PinchZoomMenu" />
        <activity android:name=".SepiaMenu" />
        <activity android:name=".ConvolutionMenu" />
        <activity android:name=".ZoomMenu" />
        <activity android:name=".EgalizationHistogramm" />
    </application>

</manifest>